# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/

# Environments
.venv/
venv/
.env

# Jupyter/VSCode
.ipynb_checkpoints/
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
